//scott
//update 20220922
//主css文件、可拆分、补充
@import "./var.scss";
@import "./table.scss";

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#app {
  height: 100%;
  width: 100%;
}
ol,
ul {
  list-style: none;
}
.one-cut-txt {
  /*强制文字在一行文本框内*/
  white-space: nowrap;
  /*溢出部分文字隐藏*/
  overflow: hidden;
  /*溢出部分省略号处理*/
  text-overflow: ellipsis;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0px $white;
  -webkit-box-shadow: inset 0 0 0px $white;
  background-color: $them-grey;
  border-radius: 20px;
}
/* flex */
.flx-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flx-align-center {
  display: flex;
  align-items: center;
}

.flx-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.flx-row-right {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}
.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* 清除浮动 */
.clearfix::after {
  content: "";
  display: block;
  height: 0px;
  clear: both;
  overflow: hidden;
}
